* {
  margin: 0;
  padding: 0;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Style the topnav Images */
.topnav a > img {
  max-height: 36px;
  padding-right: 120px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*The End Top Nav*/

/* Start Image + Heading */
.hero-image {
  background-image: url("../images/Hero.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text>h1{
  margin-top: 20px;
  margin-bottom: 10px;
}

.hero-text>h3{
  margin: 23px 0 31px;
  font-size: 18px;
}

.link > a:link, a:visited {
  background-color: #52b035;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border: 1px solid rgba(33, 207, 33, 0);
}

.link > a:hover, a:active {
  background-color: #56ca33;
}
/* The End Image + Heading */

/*start service Text*/
.service-text{
  text-align: center;
  padding-top: 50px;
  background-color: #e5e4ec;
}
/*ÙEnd service Text*/

/*start service Section*/

/*container the section*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0px;
  background-color: #e5e4ec;
}

/*imgaes the section*/
.flex-container> div > img{
  width: 260px;
  padding: 20px;
  filter: brightness(0.5);
}

/*position Father for the font*/
.father{
  position: relative;
}

/*font long the section*/
.absolute{
  position: absolute;
  top: 90px;
  left: 50px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight:bold;
}

/*font shot the section*/
.absolute-one{
  position: absolute;
  top: 90px;
  left: 99px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight:bold;
}
/*End service Section*/

/*start search Section*/
/*search Section - Heading 2*/
.photo-Search > h2{
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 85px;
}

/*Backgground*/
.photo-Search{
  background-image: url("../images/Pattern.jpg");
  background-color: #cccccc;
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*input*/
form.example input[type=text] {
  padding: 22px;
  font-size: 22px;
  text-align: right;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin:auto;
  max-width:600px
}
.example{
  margin:25px 255px
}

/*button*/
form.example button {
  float: left;
  width: 16%;
  padding: 25px;
  background: #52b035;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

/*button hover*/
form.example button:hover {
  background: #56ca33;
}

/*after Float - Clear: both*/
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/*End search Section*/

/* Start Contact */
.Contact{
	background:
	linear-gradient(
  rgba(26, 28, 29, 0.49),
  rgba(26, 28, 29, 0.49)
  ), 
  url('../Images/laptop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 150px;
}

.container{
	width: 900px;
	margin: 0px auto 0;
  display: flex;
  margin-bottom: 40px;
}

.container .box{
	position: relative;
	width: 300px;
	height: 100px;
	box-sizing: border-box;
	text-align: center;
	margin: 0 10px;
	background: #003640;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 0 0 2px rgba(0,7,10,1);
}

.container .box .icon{
	width: 100%;
	height: 100%;
	background: #003640;
	transition: 0.5s;
}

.container .box .icon .fa{
	font-size: 60px;
	line-height: 100px;
	color: #03a9f4;
}

.container .box .details{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #03a9f4;
	transition: 0.5s;
	transform: scale(2);
	opacity: 0;
}

.container .box .details1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #03a9f4;
	transition: 0.5s;
	transform: scale(2);
	opacity: 0;
}

.container .box:hover .details{
	transform: scale(1);
	opacity: 1;
}

.container .box:hover .details1{
	transform: scale(1);
	opacity: 1;
}

.container .box .details h3{
	margin: 0;
	padding: 0;
	line-height: 100px;
	font-size: 25px;
	color: #fff;
}

.container .box .details1 .press{
  margin-bottom: 20px;
	padding: 0;
	font-size: 25px;
	color: #fff;
}

.container .box .details1 ul li .fa{
	font-size: 60px;
  color: #fff;
  margin-top: -38px;
}

.container .box:nth-child(2) .details{
	background: #e91e63;
}

.container .box:nth-child(2) .details1{
	background: #e91e63;
}

.container .box:nth-child(3) .details h3{
  background: #29a950;
  font-size: 19px;
}

.container .box:nth-child(3) .details1{
  background: #29a950;
}
/* End Contact */

/* Start Footer */
.footer{
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.75rem 1.25rem;
  border-top: 2px solid rgb(3 169 244 / 35%);
}

.footer .copyright{
	font-size: 20px;
}

.copyright span{
	color: #00CCFF;
}
/* End Footer */